/* home page (path: /)*/
.home {
  background-color: #fafafa;
}

/* header inside home page (if you wanna target all of the headers, just remove the .home class */
.home .header .header__desktop-link,
.home .header .header__mobile-link,
.home .header .header__icon-wrapper svg,
.home .header .user-profile__user-icon svg {
  color: yellow;
}

.home .header,
.home .header .header__icon-wrapper,
.home .header .user-profile__user-icon {
  border-color: yellow;
}

.home .header .search-box__icon,
.home .header .search-box__input,
.home .header .search-box__input::placeholder {
  color: yellow;
}

.home .header .search-box {
  border-color: yellow;
}
/* header end */

.home__hero.overlay {
  background: linear-gradient(
    122.62deg,
    rgba(242, 49, 165, 0.8),
    rgba(0, 0, 0, 0.65) 88.97%
  );
}

.home__hero.footer .button{
  background-color: #F231A5;
  border: 1px solid white;
  border-radius: 30px;
}

/* featured collection section inside home page */
.featured-collection {
  background-color: #fafafa;
}

.featured-collection__title,
.featured-collection__description,
.featured-collection .filter-by {
  color: #040707;
}

.featured-collection .featured-collection__filter-options {
  border-bottom: 1px solid #040707;
}

.featured-collection .grid-section {
  background-color: #fafafa;
}

.featured-collection .nft-card {
  background-color: white;
}

.featured-collection .nft-card .nft-card__title,
.featured-collection .nft-card .nft-card__description {
  color: #040707;
}

/* marketplace page (/marketplace) */
.marketplace{
  background-color: #F231A5;
}

.marketplace .marketplace__content{
  border-bottom: none;
}

.marketplace .marketplace__title,
.marketplace .marketplace__selected-filters,
.marketplace .filter-by{
  color: #fafafa;
}

.marketplace .grid-section {
  background-color: #fafafa;
}

.marketplace .nft-card {
  background-color: #fff;
}

.marketplace .nft-card .nft-card__title,
.marketplace .nft-card .nft-card__description,
.marketplace .nft-card .nft-card__price-title,
.marketplace .nft-card .nft-card__price-value{
  color: #040707;
}
